@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-primary: #13a4ec;
    --color-secondary: #f6f7f8;
    --color-light: #f6f7f8;
    --color-accent: #13a4ec;
    --color-muted: #6B7280;
    --color-heading: #101c22;
    --color-button-hover: #0d8bd1;
    --font-nunito: "Nunito Sans", sans-serif;
}

/* Global font-family application */
body {
    font-family: "Nunito Sans", sans-serif;
}