@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-primary: #00435a;
    --color-secondary: #137393;
    --color-light: #f4f4f4;
    --color-button-hover: #608794;
    --font-nunito: "Nunito Sans", sans-serif;
}