@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-primary: #3C486B;
    --color-secondary: #F9D949;
    --color-light: #F0F0F0;
    --color-accent: #F45050;
    --color-muted: #3C486B;
    --color-button-hover: #2d3a54;
    --font-nunito: "Nunito Sans", sans-serif;
}

/* Global font-family application */
body {
    font-family: "Nunito Sans", sans-serif;
}